body {
    margin: 0;
    font-family: papyrus;
    background: linear-gradient(45deg, #24006b, #f42f8c);
    text-align: center;
   background: linear-gradient(180deg, brown, pink);
    font-size: xx-large;
    font-weight: bolder;
  }
  
  .topnav {
    overflow: hidden;
    background-color: blue;
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: crimson;
    color: black;
  }
  
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }
  fieldset {
    background: linear-gradient(45deg, crimson, yellow);
  }